celery>4.1.1,<5
cryptography>=2.0.3,<3
pyjwt>=1.5.2,<2
python-json-logger==0.1.8,<1
requests>=2.20.0<3
sqlalchemy>=1.1,<2
marshmallow>=2.15,<4
werkzeug<1
thunderstorm_library @ git+https://github.com/artsalliancemedia/thunderstorm-library@v1.4.0#egg=thunderstorm_library-1.4.0
thunderstorm_library>=1.4.0
